@using Evaluation.Data
@{
	Layout = "_MasterLayout";
}
@section Style
{
	@await RenderSectionAsync("Style", false)
}
@section Script
{
	@await RenderSectionAsync("Script", false)
}

<div class="row">
	<div class="col-md-3 mb-4 text-align-start">
		<div class="shadow py-2 bg-white rounded">
			@{
				var path = Context.Request.Path.Value.Split('/', StringSplitOptions.RemoveEmptyEntries)[0].ToLower();
				var accordionIndex = path switch
				{
					"information" => 0,
					"question" => 1,
					"user" => 2,
					"report" => 4,
					_ => 0
				};
			}
			@(Html.DevExtreme().Accordion()
				.RtlEnabled(true)
				.AnimationDuration(200)
				.ActiveStateEnabled(false)
				.FocusStateEnabled(false)
				.SelectedIndex(accordionIndex)
				.Items(items =>
				{
					items.Add()
						.Title("اطلاعات پایه")
						.Template(@<text>
							          @(Html.DevExtreme().List()
								          .Height("100%")
								          .DataSource(OptionsData.AdminOptions["BasicInformation"])
								          .ItemTemplate("<a href=\"<%- Href %>\"><%- DisplayName %></a>")
								          )
						           </text>);
					items.Add()
						.Title("پرسش های ارزیابی")
						.Template(@<text>
							          @(Html.DevExtreme().List()
								          .Height("100%")
								          .DataSource(OptionsData.AdminOptions["Question"])
								          .ItemTemplate("<a href=\"<%- Href %>\"><%- DisplayName %></a>")
								          )
						           </text>);
					items.Add()
						.Title("تنظیمات حساب کاربری")
						.Template(@<text>
							          @(Html.DevExtreme().List()
								          .Height("100%")
								          .DataSource(OptionsData.AdminOptions["UserSetting"])
								          .ItemTemplate("<a href=\"<%- Href %>\"><%- DisplayName %></a>")
								          )
						           </text>);
					items.Add()
						.Title("گزارشات")
						.Template(@<text>
							          @(Html.DevExtreme().List()
								          .Height("100%")
								          .DataSource(OptionsData.AdminOptions["Report"])
								          .ItemTemplate("<a href=\"<%- Href %>\"><%- DisplayName %></a>")
								          )
						           </text>);
				})
				)
		</div>
	</div>
	<div class="col-md-9">
		<div class="main-container shadow p-4 bg-white rounded">

			@RenderBody()
		</div>
	</div>
</div>